<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819704525380-asktor3podnprdlskir6ekjnp3tvdj88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819704525380-asktor3podnprdlskir6ekjnp3tvdj88</string>
	<key>API_KEY</key>
	<string>AIzaSyDMTP7tlCheOvGvEdQThD-bicJRaA9TMf4</string>
	<key>GCM_SENDER_ID</key>
	<string>819704525380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest18</string>
	<key>PROJECT_ID</key>
	<string>fir-initialize</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-initialize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819704525380:ios:20642b7294dcd7ceefc211</string>
</dict>
</plist>